[submodule "external/behavior3py"]
	path = external/behavior3py
	url = git@github.com:behavior3/behavior3py.git
[submodule "tools/behavior3editor"]
	path = tools/behavior3editor
	url = git@github.com:behavior3/behavior3editor.git
[submodule "tools/Blenvy"]
	path = tools/Blenvy
	url = git@github.com:kaosat-dev/Blenvy.git
